 /*         CSS Code */
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

 body {
     background: black;
 }

 .container {
     text-align: center;
     margin-top: 23px;
     color: white;
     background-color: black;
     font-family: 'Roboto', sans-serif;
 }

 table {
     margin: auto;
     border: 6px solid white;
     border-radius: 0;
 }

 input {
     font-size: 34px;
     border: solid 2px black;
     border-radius: 13px;
 }

 button {
     border: solid 2px white;
     border-radius: 0px;
     width: 100px;
     height: 60px;
     font-size: 42px;
 }

 button:hover {
     cursor: pointer;
 }

 .ravi {
     margin: 30px;
     color: white;
     font-size: 28px;
     display: flex;
     justify-content: center;
     font-family: 'Roboto', sans-serif;
 }